// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//
//
//    ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//    ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//    █   █  █  █   █  █  █   █  █  █   █
//     ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//           █      ▄▄▄█▄▄▄    █   █
//           ▀      █  █  █     █▄█
//         ▀▀▀▀▀    █  █  █      ▀
//                  ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//
// https://zmk.dev/docs/keymaps
// https://nickcoutsos.github.io/keymap-editor
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define Base       0
#define Sym        1
#define Num        2
#define Func       3
#define Board      4
#define Reserved1  5
#define Reserved2  6
#define Reserved3  7

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        lh_hm: lh_hm {
            compatible = "zmk,behavior-hold-tap";
            label = "LH_HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            flavor = "tap-unless-interrupted";
            quick-tap-ms = <200>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30>;
        };

        rh_hm: rh_hm {
            compatible = "zmk,behavior-hold-tap";
            label = "RH_HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            flavor = "tap-unless-interrupted";
            quick-tap-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 21 22 23 24 25>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
        //             ┃0    Q     ┃1    W     ┃2    E     ┃3    R     ┃4    T     ┃   ┃5    Z     ┃6    U     ┃7    I     ┃8    O     ┃9    P     ┃
        //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
        //             ┃10 LGUI A  ┃11 LALT S  ┃12 LCTRL D ┃13 LSHIFT F┃14   G     ┃   ┃15    H    ┃16 RSHFT J ┃17 RCTRL K ┃18 RALT L  ┃19   O     ┃
        // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
        // ┃20         ┃21   Y     ┃22   X     ┃23   C     ┃24   V     ┃25   B     ┃   ┃26   N     ┃27   M     ┃28   ,     ┃29   .     ┃30   -     ┃31         ┃
        // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
        //                                     ┃32 L1 ESC  ┃33 L2 TAB  ┃34 L3 SPC  ┃   ┃35 L4 ENTER┃36 L5 BSPC ┃37 L0 DEL  ┃
        //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

        Base {
            display-name = "Base";
            bindings = <
                &kp Q          &kp W          &kp E           &kp R            &kp T            &kp Z        &kp U            &kp I           &kp O          &kp P
                &lh_hm LGUI A  &lh_hm LALT S  &lh_hm LCTRL D  &lh_hm LSHIFT F  &kp G            &kp H        &rh_hm RSHFT J   &rh_hm RCTRL K  &rh_hm RALT L  &kp O
&studio_unlock  &kp Y          &kp X          &kp C           &kp V            &kp B            &kp N        &kp M            &kp COMMA       &kp PERIOD     &kp MINUS  &kp A
                                              &lt 1 ESCAPE    &lt 2 TAB        &lt 3 SPACE      &lt 4 ENTER  &lt 5 BACKSPACE  &lt 0 DELETE
            >;
        };

        Sym {
            display-name = "Symbols";
            bindings = <
                &kp Q          &kp W          &kp E           &kp R            &kp T            &kp Z        &kp U            &kp I           &kp O          &kp P
                &kp LGUI A  &kp LALT S  &kp LCTRL D  &kp LSHIFT F  &kp G            &kp H        &kp RSHFT J   &kp RCTRL K  &kp RALT L  &kp O
&studio_unlock  &kp Y          &kp X          &kp C           &kp V            &kp B            &kp N        &kp M            &kp COMMA       &kp PERIOD     &kp MINUS  &kp A
                                              &lt 1 ESCAPE    &lt 2 TAB        &lt 3 SPACE      &lt 4 ENTER  &lt 5 BACKSPACE  &lt 0 DELETE
            >;
        };

        Num {
            display-name = "Numpad";
            bindings = <
                &kp Q          &kp W          &kp E           &kp R            &kp T            &kp Z        &kp U            &kp I           &kp O          &kp P
                &kp LGUI A  &kp LALT S  &kp LCTRL D  &kp LSHIFT F  &kp G            &kp H        &kp RSHFT J   &kp RCTRL K  &kp RALT L  &kp O
&studio_unlock  &kp Y          &kp X          &kp C           &kp V            &kp B            &kp N        &kp M            &kp COMMA       &kp PERIOD     &kp MINUS  &kp A
                                              &lt 1 ESCAPE    &lt 2 TAB        &lt 3 SPACE      &lt 4 ENTER  &lt 5 BACKSPACE  &lt 0 DELETE
            >;
        };

        Func {
            display-name = "Functions";
            bindings = <
                &kp Q          &kp W          &kp E           &kp R            &kp T            &kp Z        &kp U            &kp I           &kp O          &kp P
                &kp LGUI A  &kp LALT S  &kp LCTRL D  &kp LSHIFT F  &kp G            &kp H        &kp RSHFT J   &kp RCTRL K  &kp RALT L  &kp O
&studio_unlock  &kp Y          &kp X          &kp C           &kp V            &kp B            &kp N        &kp M            &kp COMMA       &kp PERIOD     &kp MINUS  &kp A
                                              &lt 1 ESCAPE    &lt 2 TAB        &lt 3 SPACE      &lt 4 ENTER  &lt 5 BACKSPACE  &lt 0 DELETE
            >;
        };

        Board {
            display-name = "Board";
            bindings = <
                 &bt BT_CLR      &bootloader  &trans     &trans      &bt BT_SEL 0    &trans  &trans      &trans     &bootloader  &trans
                 &kp LGUI        &kp LALT     &kp LCTRL  &kp LSHIFT  &bt BT_SEL 1    &trans  &kp RSHIFT  &kp RCTRL  &kp RALT     &kp RGUI
&&studio_unlock  &trans  &trans       &trans     &trans      &bt BT_SEL 2    &trans  &trans      &trans     &trans       &trans    &trans
                                     &trans     &trans      &trans          &trans  &trans      &trans
            >;
        };

        // reserved layers for use with ZMK Studio https://zmk.studio/

        Reserved1 {
            display-name = "Layer 1";
            status = "reserved";
        };

        Reserved2 {
            display-name = "Layer 2";
            status = "reserved";
        };

        Reserved3 {
            display-name = "Layer 3";
            status = "reserved";
        };
    };
};